<div class="w-64 bg-white rounded-2xl shadow-lg m-5 p-5 transition-transform transform hover:scale-105">
    <!-- Product Image -->
    <img class="w-full h-52 object-cover rounded-lg" [src]="product().image" alt="{{ product().title }}" />
  
    <!-- Product Details -->
    <div class="mt-4 text-center">
      <h3 class="text-lg font-semibold text-gray-800">{{ product().title }}</h3>
    </div>
  
    <!-- Stock & Price -->
    <div class="flex justify-between items-center mt-4 px-4">
      <span class="text-lg font-bold text-green-600">${{ product().price }}</span>
      @if (product().stock) {
        <span class="text-xs text-green-600 bg-green-100 px-3 py-1 rounded-full font-medium">
          {{ product().stock }} left
        </span>
      } @else {
        <span class="text-xs text-red-500 bg-red-100 px-3 py-1 rounded-full font-medium">
          Out of stock
        </span>
      }
    </div>
  
    <!-- Add to Cart Button -->
    <div class="mt-5">
      <app-office-btn 
        label="Add to Cart"
        class="w-full  text-gray-900 font-medium py-2 rounded-lg  "
        (btnClicked)="CartService.addToCart(product())">
      </app-office-btn>
    </div>
  </div>
  